/**

   Styles.less

   -- Main styles for the codebranch web project
*/
.nav {
  height: 60px;
  background-color: #4F8E30;
}
.nav p {
  font-size: 40px;
}
.mainContent {
  background-image: url('../images/background1.jpg');
  height: 600px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
