/**

   Styles.less

   -- Main styles for the codebranch web project
*/
body {
  margin: 0;
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
}
a {
  transition: .2s;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
  color: #1995FF;
  transition: .3s;
}
a .active {
  color: #1995FF;
}
.nav {
  display: flex;
  height: 60px;
  background-color: #4F8E30;
  padding-left: 25px;
  padding-right: 25px;
}
.nav p {
  margin: 0;
  font-size: 20px;
  line-height: 60px;
  color: #FFFFFF;
}
.nav ul {
  display: flex;
  margin: 0 0 0 auto;
  padding-left: 25px;
  padding-right: 25px;
  padding-right: 0;
}
.nav ul a {
  transition: .2s;
  text-decoration: none;
  color: #FFFFFF;
}
.nav ul a:hover {
  text-decoration: underline;
  color: #1995FF;
  transition: .3s;
}
.nav ul a .active {
  color: #1995FF;
}
.nav ul li {
  font-size: 12px;
  line-height: 60px;
  list-style-type: none;
  padding-left: 25px;
  padding-right: 25px;
}
.nav ul li:last-child {
  padding-right: 0;
}
#mc1 {
  background-image: url('../images/background1.jpg');
}
#mc2 {
  background-image: url('../images/background2.jpg');
}
.mainContent {
  padding-left: 25px;
  padding-right: 25px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 500px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.mainContent .centerWrapper {
  margin: auto;
  z-index: 3;
  display: flex;
  flex-direction: column;
}
.mainContent a {
  color: #1995FF;
}
.mainContent .background {
  background-color: rgba(255, 255, 255, 0.71);
  box-shadow: 0px 0px 4px #ffffff;
  z-index: 3;
}
.mainContent .contentBlock {
  padding: 20px 0;
}
.mainContent .contentBlock .headContainer {
  max-width: 500px;
  margin-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  box-shadow: 0px 0px 4px #ffffff;
  z-index: 3;
  background-color: rgba(255, 255, 255, 0.71);
}
.mainContent .contentBlock .headContainer .ripple {
  border: 8px solid blue;
  border-radius: 150px;
  width: 200px;
  height: 200px;
  z-index: -1;
  background-color: blue;
  position: absolute;
  top: 8px;
  left: 8px;
}
.mainContent .contentBlock .headContainer .heads {
  display: flex;
  justify-content: center;
}
.mainContent .contentBlock .headContainer .heads img {
  height: 80px;
  margin: 0 20px;
  border: 2px #1995FF solid;
  border-radius: 70px;
}
.mainContent h1 {
  background-color: rgba(255, 255, 255, 0.71);
  box-shadow: 0px 0px 4px #ffffff;
  z-index: 3;
  text-align: center;
  border-radius: 5px;
  margin: auto;
  padding: 10px;
  max-width: 600px;
}
.mainContent a.homeButtonLink {
  cursor: pointer;
  text-decoration: none;
}
.mainContent a.homeButtonLink button {
  transition: .5s;
  color: #FFFFFF;
  font-size: 17px;
  padding: 12px 20px;
  display: block;
  border: none;
  background-color: #63B83B;
  border: 2px solid #63B83B;
  margin: 0 auto;
  margin-top: 15px;
}
.mainContent a.homeButtonLink button:hover {
  background-color: rgba(255, 255, 255, 0.71);
  border: 2px solid #1995FF;
  cursor: pointer;
  color: #1995FF;
}
.mainContent a.homeButtonLink button:hover span {
  border-bottom: 2px solid #1995FF;
}
.backgroundFade {
  position: absolute;
  background-color: #4F8E30;
  margin-top: 60px;
  z-index: 2;
  height: 500px;
  width: 100%;
  opacity: .3;
}
