/**

   Styles.less

   -- Main styles for the codebranch web project
*/
body {
  margin: 0;
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
}
a {
  transition: .2s;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
  color: #1995FF;
  transition: .3s;
}
a .active {
  color: #1995FF;
}
.hidden {
  display: none;
}
.show {
  animation-name: fadeIn;
  animation-duration: 4s;
}
/* The animation code */
@keyframes fadeIn {
  0% {
    top: 10px;
    opacity: 0;
  }
  100% {
    top: 0px;
    opacity: 1;
  }
}
.nav {
  display: flex;
  height: 60px;
  background-color: #4F8E30;
  padding-left: 25px;
  padding-right: 25px;
}
.nav * {
  z-index: 4;
}
.nav p {
  margin: 0;
  font-size: 20px;
  line-height: 60px;
  color: #FFFFFF;
}
.nav ul.topnav {
  z-index: 4;
  display: flex;
  margin: 0 0 0 auto;
  padding-left: 25px;
  padding-right: 25px;
  padding-right: 0;
}
.nav ul.topnav i {
  display: none;
  font-size: 35px;
  float: left;
  text-align: center;
  line-height: 60px;
  min-width: 30px;
}
.nav ul.topnav a {
  transition: .2s;
  text-decoration: none;
  color: #FFFFFF;
}
.nav ul.topnav a:hover {
  color: #1995FF;
  transition: .3s;
}
.nav ul.topnav a:hover p,
.nav ul.topnav a:hover i {
  opacity: .8;
}
.nav ul.topnav a .active {
  color: #1995FF;
}
.nav ul.topnav li {
  font-size: 14px;
  line-height: 60px;
  list-style-type: none;
  padding-left: 25px;
  padding-right: 25px;
}
.nav ul.topnav:last-child li {
  padding-right: 0;
}
#mc1 {
  background-image: url('../images/background1-lower.jpg');
}
#mc2 {
  background-image: url('../images/background2-lower.jpg');
}
#mc3 {
  background-image: url('../images/background3-lower.jpg');
}
#mc4 {
  background-image: url('../images/background4.jpg');
}
.black {
  background-color: #000000 !important;
}
.mainContent {
  position: relative;
  min-height: 300px;
  height: auto;
  padding-left: 25px;
  padding-right: 25px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 500px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.mainContent .centerWrapper {
  margin: auto;
  z-index: 3;
  display: flex;
  flex-direction: column;
}
.mainContent a {
  color: #1995FF;
}
.mainContent .background {
  background-color: rgba(255, 255, 255, 0.71);
  box-shadow: 0px 0px 4px #ffffff;
  z-index: 3;
}
.mainContent .contentBlock {
  padding: 20px 0;
  max-width: 500px;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  box-shadow: 0px 0px 4px #ffffff;
  z-index: 3;
  background-color: rgba(255, 255, 255, 0.71);
}
.mainContent .contentBlock.contact {
  max-width: 700px !important;
}
.mainContent .contentBlock.contact .linkContainer {
  transition: .2s;
  display: flex;
  margin-bottom: 20px;
  line-height: 30px;
}
.mainContent .contentBlock.contact .linkContainer:hover img,
.mainContent .contentBlock.contact .linkContainer:hover p {
  opacity: .5;
  border: 1px solid #000000;
}
.mainContent .contentBlock.contact .linkContainer img,
.mainContent .contentBlock.contact .linkContainer p {
  border: 1px solid #FFFFFF;
  width: 30px;
  height: 30px;
  border-radius: 1000px;
  display: inline-block;
  margin-right: 10px;
}
.mainContent .contentBlock.contact .linkContainer p {
  margin: 0 10px 0 0;
  background-color: #000000;
  color: #FFFFFF;
  line-height: 30px;
  font-weight: bold;
  text-align: center;
}
.mainContent .contentBlock.contact .linkContainer .mailLink {
  line-height: 30px;
  color: #63B83B;
  display: inline-block;
  font-weight: bold;
  font-size: 18px;
  transition: .1s;
}
.mainContent .contentBlock.contact .linkContainer .mailLink:hover {
  color: #4F8E30;
}
.mainContent .contentBlock.contact .contentWrapper {
  max-width: 700px;
  width: 700px;
  display: flex;
  flex-direction: row;
  margin: 20px auto;
  justify-content: space-between;
}
.mainContent .contentBlock.contact .contentWrapper h3 {
  font-size: 20px;
  border-bottom: none;
  margin-bottom: 40px;
}
.mainContent .contentBlock.contact .contentWrapper h3::after {
  content: '';
  display: block;
  width: 30px;
  background-color: black;
  height: 2px;
  margin-top: 5px;
}
.mainContent .contentBlock.contact .contentWrapper .left,
.mainContent .contentBlock.contact .contentWrapper .right {
  width: 48%;
  display: flex;
  flex-direction: column;
  padding-top: 20px;
}
.mainContent .contentBlock form {
  display: flex;
  flex-direction: column;
}
.mainContent .contentBlock form input,
.mainContent .contentBlock form textarea {
  display: block;
  height: 30px;
  border: none;
  background-color: #63B83B;
  opacity: .53;
  border-radius: 4px;
  padding: 8px 16px;
  color: #FFFFFF;
  margin-bottom: 10px;
  transition: .3s;
  font-size: 13px;
  font-weight: 100;
}
.mainContent .contentBlock form input::-webkit-input-placeholder,
.mainContent .contentBlock form textarea::-webkit-input-placeholder {
  color: #000000;
}
.mainContent .contentBlock form input:-moz-placeholder,
.mainContent .contentBlock form textarea:-moz-placeholder {
  /* FF 4-18 */
  color: #000000;
}
.mainContent .contentBlock form input::-moz-placeholder,
.mainContent .contentBlock form textarea::-moz-placeholder {
  /* FF 19+ */
  color: #000000;
}
.mainContent .contentBlock form input:-ms-input-placeholder,
.mainContent .contentBlock form textarea:-ms-input-placeholder {
  /* IE 10+ */
  color: #000000;
}
.mainContent .contentBlock form input:hover,
.mainContent .contentBlock form textarea:hover {
  background-color: #4F8E30;
  opacity: 1;
}
.mainContent .contentBlock form input.contactSubmit,
.mainContent .contentBlock form textarea.contactSubmit {
  opacity: 1;
  background-color: #4F8E30;
  margin: auto;
  font-weight: bold;
}
.mainContent .contentBlock form textarea {
  height: 100px;
  padding-top: 12px;
}
.mainContent .contentBlock .infoBlock h3 {
  border-bottom: 3px solid #8c8c8c;
  display: inline-block;
  font-size: 2em;
  padding-bottom: 4px;
  margin: 0 0 10px;
  font-size: 1.7em;
}
.mainContent .contentBlock h3,
.mainContent .contentBlock h2,
.mainContent .contentBlock .header {
  border-bottom: 3px solid #8c8c8c;
  display: inline-block;
  font-size: 2em;
  padding-bottom: 4px;
  margin: 0 0 10px;
}
.mainContent .contentBlock h2 {
  margin: 0;
}
.mainContent .contentBlock .heads {
  height: 84px;
  display: flex;
  justify-content: center;
  padding-bottom: 10px;
  border-bottom: 2px solid #636363;
}
.mainContent .contentBlock .heads .headContainer {
  position: relative;
  display: flex;
  justify-content: center;
}
.mainContent .contentBlock .heads .headContainer .ripple {
  border: 2px solid #4F8E30;
  border-radius: 150px;
  width: 80px;
  height: 80px;
  z-index: -1;
  background-color: #4F8E30;
  position: absolute;
}
.mainContent .contentBlock .heads .headContainer .head {
  height: 80px;
  width: 80px;
  text-align: center;
  font-size: 40px;
  line-height: 80px;
  font-weight: bold;
  color: #FFFFFF;
  margin: 0 20px;
  border: 2px #4F8E30 solid;
  background-color: #4F8E30;
  border-radius: 70px;
  transition: .2s;
  cursor: pointer;
}
.mainContent .contentBlock .heads .headContainer .head:hover {
  border-color: #1995FF;
  opacity: .7;
}
.mainContent .contentBlock .heads .headContainer .head:active {
  border-color: #FFFFFF;
}
.mainContent .contentBlock .heads .headContainer .head.active {
  border-color: #000000;
  color: #000000;
  height: 87px;
  width: 87px;
  line-height: 87px;
}
.mainContent h1 {
  text-align: center;
  border-radius: 5px;
  margin: auto;
  padding: 10px;
  max-width: 600px;
}
.mainContent a.homeButtonLink {
  cursor: pointer;
  text-decoration: none;
}
.mainContent a.homeButtonLink button {
  transition: .5s;
  color: #FFFFFF;
  font-size: 17px;
  padding: 12px 20px;
  display: block;
  border: none;
  background-color: #63B83B;
  border: 2px solid #63B83B;
  margin: 0 auto;
  margin-top: 15px;
}
.mainContent a.homeButtonLink button:hover {
  background-color: rgba(255, 255, 255, 0.71);
  border: 2px solid #1995FF;
  cursor: pointer;
  color: #1995FF;
}
.mainContent a.homeButtonLink button:hover span {
  border-bottom: 2px solid #1995FF;
}
.backgroundFade {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #4F8E30;
  z-index: 2;
  height: 500px;
  width: 100%;
  opacity: .3;
}
.backgroundFade.black {
  opacity: .16;
}
.typed-cursor {
  opacity: 1;
  -webkit-animation: typedjsBlink 0.7s infinite;
  animation: typedjsBlink 0.7s infinite;
}
@keyframes typedjsBlink {
  50% {
    opacity: 0.0;
  }
}
@-webkit-keyframes typedjsBlink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.0;
  }
  100% {
    opacity: 1;
  }
}
.typed-fade-out {
  opacity: 0;
  transition: opacity .25s;
  -webkit-animation: 0;
  animation: 0;
}
@media (max-width: 598px) {
  .mobBox {
    display: flex!important;
  }
  ul.topnav {
    padding: 0;
    border-bottom-left-radius: 10px;
    display: none;
    top: 60px;
    right: 0;
    min-width: 150px;
    margin: 0;
    flex-direction: column;
    position: absolute;
  }
  ul.topnav i {
    display: inline-block !important;
  }
  ul.topnav li {
    width: 300px;
    opacity: .9;
    padding-right: 20px!important;
    transition: .2s;
    line-height: 40px;
    background-color: #4F8E30;
    border-top: 3px solid #004605;
    text-align: right;
  }
  ul.topnav li:hover {
    background-color: #1995FF;
    color: #FFFFFF;
  }
}
@media (min-width: 599px) {
  .mobBox {
    display: none;
  }
  .topnav {
    display: flex!important;
  }
}
.mobBox {
  margin: auto 0 auto auto;
  width: 20px;
  height: 6px;
  position: relative;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
  display: none;
  flex-direction: column;
  padding: 7px;
  border-radius: 3px;
}
.mobBox:hover div {
  opacity: .7!important;
}
.mobBox div {
  display: block;
  position: absolute;
  height: 4px;
  width: 100%;
  background-color: #FFFFFF;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}
.mobBox div:nth-child(1) {
  top: 0px;
}
.mobBox div:nth-child(2) {
  top: 8px;
}
.mobBox div:nth-child(3) {
  top: 16px;
}
.mobBox.open div {
  background-color: #D82B2B;
}
.mobBox.open div:nth-child(1) {
  top: 10px;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
}
.mobBox.open div:nth-child(2) {
  opacity: 0!important;
  left: -60px;
}
.mobBox.open div:nth-child(3) {
  top: 10px;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
}
.invisible {
  transition: opacity 0.5s ease;
  opacity: 0.0;
}
.visible {
  transition: opacity 0.5s ease;
  opacity: 1.0;
}
