// out: ../css/styles.css, sourcemap: true, compress: false

/**

   Styles.less

   -- Main styles for the codebranch web project
*/

.homePageHeader {
  background-image: url('../images/background1.jpg');
  height: 600px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
