// out: ../css/styles.css, sourcemap: true, compress: false

/**

   Styles.less

   -- Main styles for the codebranch web project
*/

// Colours

@darkGreen: #4F8E30;
@white: #FFFFFF; // in case we want to change the white color

@font: 'Helvetica Neue', Helvetica, sans-serif;


// Height Variables

@navHeight: 60px;
@frontImageHeight: 500px;
@sideGutter: 25px;
@linksSize: 12px;
@headingWidth: 600px;

body {
  font-family: @font;
}

.nav {
    height: @navHeight;
    background-color: @darkGreen;
    .sideGutter();
    p {
      font-size: @navHeight - 40;
      line-height: @navHeight;
      color: @white;
    }
    ul {
      display: flex;
      margin: 0 0 0 auto;
      .sideGutter();
      padding-right: 0;
      a {
      color: @white;
      }
      a:hover {
        color: black;
        transition: .7s;
      }
      li {
        font-size: @linksSize;
        line-height: @navHeight;
        list-style-type: none;
        .sideGutter();
      }
      li:last-child {
        padding-right: 0;
      }
    }
}

.mainContent {
  .sideGutter();
  display: flex;
  background-image: url('../images/background1.jpg');
  height: @frontImageHeight;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  h1 {
    text-align: center;
    background-color: rgba(255, 255, 255, .5);
    margin: auto;
    padding: 10px;
    z-index: 3;
    max-width: @headingWidth;
    box-shadow: 0px 0px 20px rgba(255, 255, 255, 1);
    border-radius: 5px;
  }
}

.backgroundFade {
  position: absolute;
  background-color: @darkGreen;
  margin-top: @navHeight;
  z-index: 2;
  height: @frontImageHeight;
  width: 100%;
  opacity: .2;
}

//
// Functions
//

// The side margins
.sideGutter() {
  padding-left: @sideGutter;
  padding-right: @sideGutter;
}
.sideGutter(@size) {
  padding-left: @size;
  padding-right: @size;
}
