---
title: Home
---
 <!DOCTYPE html>
<html>
    <head>
    
 <!--  _____          _      _                          _       _       -->
 <!-- / ____|        | |    | |                        | |     (_)          -->
 <!--| |     ___   __| | ___| |__  _ __ __ _ _ __   ___| |__    _  ___      -->
 <!--| |    / _ \ / _` |/ _ \ '_ \| '__/ _` | '_ \ / __| '_ \  | |/ _ \     -->
 <!--| |___| (_) | (_| |  __/ |_) | | | (_| | | | | (__| | | |_| | (_) |    -->
 <!-- \_____\___/ \__,_|\___|_.__/|_|  \__,_|_| |_|\___|_| |_(_)_|\___/     -->
                                                                    
                                                                        
        <!-- Basic meta tags & SEO -->
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" http-equiv="X-UA-Compatible" />
        <meta name="keywords" content="codebranch.io codebranch web-development web web-design web-apps web-designers
        Code-Branch CodeBranch CodeBranch.io javascript-websites CMS simple cheap affordable design development computer-science
        beautiful-web-design web-craftmanship" />
        <meta name="description" content="CodeBranch -- your local web designer/developer duo. We make beautiful web projects" />
        
        <!-- Jquery -->
        <script src="js/jquery.min.js"></script>
        
        <!-- Bootstrap -->
        <link rel="stylesheet" type="text/css" href="css/bootstrap.css" />
        <script src="js/bootstrap.js" defer></script>
        
        <!-- Font Awesome for icons -->
        <link type="text/css" rel="stylesheet" href="css/font-awesome.css" />
        
        <!-- Main Javascript and CSS file -->
        <script src="js/main.js" defer></script>
        <link rel="stylesheet" type="text/css" href="css/styles.css" />
            
        <!--Favicon-->
        <link rel="shortcut icon" href="images/favicon.png" type="image/x-icon" />
        <link rel="icon" href="images/favicon.png" type="image/x-icon" />
        
        <title>Codebranch.io</title>

    </head>
    <body>
        <div class="nav">
           
          <!--<button class="navbar-toggler collapsed ml-auto" type="button" data-toggle="collapse" data-target="#navbar-items" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">-->
          <!--   <i class="fa fa-bars" aria-hidden="true"></i>-->
          <!--</button>-->
          <div class="newNav">
               <div class="mobBox">
                <div class="hamburger" id="hamburger1"></div>
                <div class="hamburger" id="hamburger1"></div>
                <div class="hamburger" id="hamburger1"></div>
            </div>
            <ul class="topnav">
                {% assign navigation_pages = site.html_pages | sort: 'navigation_weight' %}
                {% for p in navigation_pages %}
                  {% if p.navigation_weight %}
                    <li>
                        <div class="wrapper">
                         <a href="{{ p.url }}">{{p.title}}</a>
                         </div>
                    </li>
                  {% endif %}
                {% endfor %}
                <li>
                    <div class="wrapper">
                         <a href="/update">Login</a>
                    </div>
                </li>
              </ul>
           </div>
        </div>

	<div class="homePageHeader">
      
    </div>
    <div class="globalContent">
        <div class="mainContentHome">
            <div class="margin-wrapper white">
                <h1>Welcome to CodeBranch</h1>
            </div>
        </div>
    </div>
  </body>
</html>
